:root {
  --polar-0: #2E3440;
  --polar-1: #3B4252;
  --polar-2: #434C5E;
  --polar-3: #4C566A;

  --storm-0: #D8DEE9;
  --storm-1: #E5E9F0;
  --storm-2: #ECEFF4;

  --frost-0: #8fbcbb;
  --frost-1: #88c0d0;
  --frost-2: #81a1c1;
  --frost-3: #5e81ac;

  --aurora-0: #bf616a;
  --aurora-1: #d08770;
  --aurora-2: #ebcb8b;
  --aurora-3: #a3be8c;
  --aurora-4: #b48ead;

}

body {
  font-family: 'Nunito', sans-serif;
}

img {
  width: 1000px;
  height: 500px;
  border-radius: 10px;
}

.card a {
  text-decoration: none;
  color: var(--storm-2);
  background-color: var(--polar-1);
  border-radius: 10px;
  padding: 8px;
}
a:hover {
  color: var(--storm-0);
}

#brand-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

h2 {
  color: var(--polar-3);
}
h5 {
  color: var(--aurora-1);
}
p {
  color: var(--polar-1);
}

/* Bootstrap style override */
#accordion {
  margin-top: 20px;
  background-color: blue;
  border-top: solid var(--frost-3);
}

button.accordion-button.collapsed:hover {
  background-color: var(--storm-2);
}

#accordion a {
  text-decoration: none;
  color: var(--aurora-3);
  font-weight: bold;
}
